/* Overlay */
.sidebarOverlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-color);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

/* Sidebar */
.sidebar {
  background: var(--white-bg);
  width: 900px;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
}

.sidebar.open {
  transform: translateX(0);
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px 1px 16px;
  background:var(--white-bg);
  border-bottom: 1px solid #ddd;
}

.closeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeBtn:hover {
  color: red;
}

/* Scrollable Content */
.contentWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* Scrollbar Styling */
.contentWrapper::-webkit-scrollbar {
  width: 2px;
}
.contentWrapper::-webkit-scrollbar-thumb {
  background-color: var(--white-bg);
  border-radius: 4px;
}
.contentWrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Details Table */
.detailsTableWrapper {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow-x: auto;  
  overflow-y: hidden; 
}

.detailsTable,
.orderItemsTable {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

.detailsTable td,
.orderItemsTable td {
  padding: 12px 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.detailsTable tr:last-child td {
  border-bottom: none;
}

.orderItemsTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}
.orderItemsTable th {
  background:hsla(0, 91%, 91%, 1);
  font-weight: 600;
  padding: 10px;
  text-align: left;

}

